<div class="dashboard">
  <div>
    <p>Łączna liczba ogłoszeń w bazie : <span><%- allOgloszenia %> </span></p>
  </div>
</div>
<style>
  .dashboard {
    position: relative;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    padding: 16px;
    border-radius: 0 0 8px 8px;
  }
</style>
